<app-navbar [userLogged]="true"></app-navbar>
<div class="container">
    <div style="height:auto; width: 400px;">
        <form [formGroup]="topicForm" (ngSubmit)="onSubmit()">
            <div class="form-group text-left">
                <label>Title</label>
                <input type="text" formControlName="title" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.title.errors }" />
                <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
                    <div *ngIf="f.title.errors.required">title is required</div>
                </div>
            </div>
            <div class="form-group text-left">
                <label>Discription</label>
                <input type="discription" formControlName="discription" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.discription.errors }" />
                <div *ngIf="submitted && f.discription.errors" class="invalid-feedback">
                    <div *ngIf="f.discription.errors.required">discription is required</div>
                </div>
            </div>
            <div class="form-group">
                <button [disabled]="loading" class="btn btn-primary">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Submit
                </button>
            </div>
        </form>
    </div>
    <br><br><br>
    <div class="row">
        <div class="col-xl">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Topic</th>
                        <th scope="col">discription</th>
                        <th scope="col">created by</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let topic of topics">
                        <td><a [routerLink]="['/post',topic._id]">{{topic.title}}</a></td>
                        <td>{{topic.discription}}</td>
                        <td>{{topic.user_id.firstName + topic.user_id.lastName}}</td>
                    </tr>
                    <tr>
                </tbody>
            </table>
            <div *ngIf="!topics || !topics.length"> No post available </div>
        </div>
    </div>
</div>